<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/resources/static/bootstrap.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>

<body>
    
    <div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card flex-row my-5 border-0 shadow-lg rounded-3 overflow-hidden">
              <div class="card-img-left d-none d-md-flex">
                <!-- Background image for card set in CSS! -->
              </div>
              <div class="card-body p-4 p-sm-5">
                <h2 class="card-title text-center mb-5 fw-light fs-5">Sign in</h2>
                <form th:action="@{/login}" method="post" th:object="${user}" name="login">
    
                  <div class="form-floating mb-3">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com">
                  </div>
    
                  <div class="form-floating mb-3">
                    <label for="exampleInputEmail1">Password</label>
                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required minlength="6" maxlength="12">
                  </div>

                  <div class="form-floating mb-3">
                    <p class="text-center">By signing up you accept our <a href="#">Terms Of Use</a></p>
                  </div>
                  <div class="d-block text-center">
                    <button class=" btn btn-lg btn-primary btn-login fw-bold text-uppercase " type="submit">Sign in</button>
                  </div>
    
                  <p class="d-block text-center mt-2 small">Don't have account? <a href="signup-form.html" id="signup">Sign up here</a></p>
    
                     
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    <script src="/resources/static/signup-form.js"></script>
</body>
</html>